:root {
  /* fonts */
  --font-hind: Hind;
  --font-roboto: Roboto;
  --font-hanuman: Hanuman;
  --font-inika: Inika;
  --font-ibm-plex-sans-thai-looped: "IBM Plex Sans Thai Looped";
  --font-ibm-plex-sans-devanagari: "IBM Plex Sans Devanagari";

  /* font sizes */
  --font-size-sm: 15px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 28px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-4xl: 40px;
  --font-size-5xl: 48px;

  /* Colors */
  --color-gray-100: #f0f3fc;
  --color-gray-200: #f1f1f1;
  --color-gray-300: #dae8f1;
  --color-gray-400: #9c9c9c;
  --color-gray-500: #848484;
  --color-gray-600: #7d7d7d;
  --color-gray-700: #757575;
  --color-gray-800: #6d6e73;
  --color-gray-900: #5a5b5f;
  --color-black: #000;
  --color-white: #fff;
  --color-violet-100: #a07dff;
  --color-violet-200: rgba(152, 115, 255, 0.96);

  /* border radiuses */
  --br-sm: 10px;
  --br-md: 12px;
  --br-lg: 68px;
}
