* {
  margin: 0px;
  padding: 0px;
}

.desktop-1 {
  background-color: #1c50c9;
  width: 100%;
  padding: 0px;
}

.navbar {
  background-color: #f3f7fe;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.navbarbg {
  height: 100px;
  width: 100%;
}

.logo {
  margin: 4px;
  padding: 4px;
  height: 80px;
  width: 216px;
  margin-left: 30px;
}

.menubar {
  width: 951px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 465px;
  top: 0;
}

.home {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  line-height: auto;
  left: 27.04px;
  top: 38px;
  position: absolute;
  width: 77.89761352539062px;
}

.aboutus {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 390px;
  top: 38px;
  width: 120.09214782714844px;
  height: 30px;
  position: absolute;
  line-height: auto;
}

.contactus {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 520px;
  top: 38px;
  width: 144.97610473632812px;
  height: 30px;
  position: absolute;
  line-height: auto;
}

.service {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 260px;
  top: 38px;
  width: 101.69966125488281px;
  height: 30px;
  position: absolute;
  line-height: auto;
}

.features {
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 130px;
  top: 38px;
  width: 115.7645034790039px;
  height: 30px;
  position: absolute;
  line-height: auto;
}

.signupbtn {
  width: 176.35000610351562px;
  top: -337px;
  left: 625px;
  position: absolute;
}

.signupbg {
  background-color: #153e90;
  height: 58px;
  width: 176.35000610351562px;
  border-radius: 10px;
  border: 1px solid #000000;
  top: 360px;
  left: 50px;
  position: absolute;
}

.signup3 {
  color: #ffffff;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 33px;
  top: 14px;
  width: 99.53583526611328px;
  height: 30px;
  position: absolute;
  line-height: auto;
}


.banner {
  width: 100px;
  position: absolute;
  top: 106px;
  left: 0px;
}

.bannerbg {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 1px solid #000000;
}

.bannerbg {
  height: 696px;
  width: 1348px;
  border: 1px solid #000000;
}

.bannerdescription {
  width: 888px;
  height: 696px;
}

.searchbargrp {
  width: 828px;
  height: 102px;
  left: 55px;
  top: 500px;
  position: absolute;
}

.searchbarbg {
  height: 102px;
  width: 828px;
  border-radius: 10px;
  border: 1px solid #000000;
  top: 0px;
  left: 55px;
  position: absolute;
}

.searchdoctorsgrp {
  width: 237px;
  height: 67px;
  top: 17px;
  left: 620px;
  position: absolute;
}

.searchdoctorsbtn {
  background-color: #153e90;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 570px;
  height: 70px;
  border-radius: 10px;
  text-align: right;
  padding-right: 20px;
  width: 210px;
}

.searchForm {
  background-color: aqua;
  height: 90px;
  width: 50rem;
  border: 2px solid;
  border-radius: 10px;
}

.searchdoctorstext {
  color: #ffffff;
  text-align: center;
  vertical-align: text-middle;
  font-size: 20px;
  left: 55px;
  top: 20px;
  width: 150px;
  height: 23.647058486938477px;
  position: absolute;
  line-height: auto;
}

.selectdoctorgrp {
  width: 212px;
  height: 80px;
  top: 10px;
  left: 100px;
  position: absolute;
}

.selectdoctortext {
  border-radius: 10px;
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 40px;
  top: 20px;
  width: 200px;
  height: 50px;
  position: absolute;
  line-height: auto;
}

.selectlocationgrp {
  width: 219px;
  height: 80px;
  top: 10px;
  left: 360px;
  position: absolute;
}

.selectlocationtext {
  border-radius: 10px;
  color: #000000;
  text-align: center;
  vertical-align: text-middle;
  font-size: 25px;
  left: 300px;
  top: 20px;
  width: 200px;
  height: 50px;
  position: absolute;
  line-height: auto;
}

.shortdescriptiontext {
  color: #626262;
  text-align: left;
  vertical-align: text-middle;
  font-size: 18px;
  left: 110px;
  top: 350px;
  width: 615px;
  height: 63px;
  position: absolute;
  line-height: auto;
}

.bannerdescriptiontext {
  text-align: justify;
  vertical-align: text-middle;
  font-size: 60px;
  left: 110px;
  top: 100px;
  width: 641px;
  height: 292px;
  position: absolute;
  line-height: auto;
}

.bannerdescriptionbg {
  background-color: #f3f7fe;

  height: 693px;
  width: 800px;
  left: 0px;
  position: absolute;
}

.bannerphotobg {
  z-index: -1;
  height: 696px;
  width: 595px;
  left: 757px;
  top: 0px;
  position:absolute;
}

.search-icon{
  position: absolute;
  left: 570px;
  top: 17px;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.appointment
{
width:1348px;
height:642px;
position:absolute;
top:802px;
left:0px;
}
.appointmentbg
{
  background-color: #f3f7fe;

height:642px;
width:1348px;
border:1px solid #000000;
}
.appointmentstepsheading
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:45px;
font-family:Roboto;
line-height:auto;
left:370px;
top:60px;
position:absolute;
width:647px;
}
.group2
{
width:329px;
height:445px;
top:999px;
left:737px;
}
.doctorserial
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:30px;
font-family:Roboto;
left:60px;
top:200px;
width:170px;
height:35px;
position:absolute;
line-height:auto;
}
.rectangle3
{
height:102px;
width:106px;
border-radius:10px;
top:60px;
left:90px;
position:absolute;
}
.shortdescriptiontext2
{
color:#626262;
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:45px;
top:250px;
width:240px;
height:84px;
position:absolute;
line-height:auto;
}
.learnmorebtn
{
width:185px;
height:58px;
top:1367px;
left:801px;
}
.signupbg2
{
background-color:#153e90;
height:58px;
width:185px;
border-radius:10px;
border:1px solid #000000;
top:360px;
left:50px;
position:absolute;
}
.learnmore
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Inter;
left:22px;
top:18px;
width:126.93506622314453px;
height:22px;
position:absolute;
line-height:auto;
}
.rectangle5
{
height:445px;
width:300px;
border:1px solid #000000;
top:180px;
left:690px;
position:absolute;
}
.group5
{
width:329px;
height:445px;
top:0px;
left:0px;
position:absolute;
}
.doctorserial2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:30px;
font-family:Roboto;
left:40px;
top:200px;
width:250px;
height:35px;
position:absolute;
line-height:auto;
}
.rectangle32
{
height:102px;
width:106px;
border-radius:10px;
top:60px;
left:90px;
position:absolute;
}
.shortdescriptiontext3
{
color:#626262;
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:45px;
top:250px;
width:240px;
height:84px;
position:absolute;
line-height:auto;
}
.learnmorebtn2
{
width:185px;
height:58px;
top:0px;
left:0px;
}
.signupbg3
{
background-color:#153e90;
height:58px;
width:185px;
border-radius:10px;
border:1px solid #000000;
top:360px;
left:50px;
position:absolute;
}
.learnmore2
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Inter;
left:22px;
top:18px;
width:126.93506622314453px;
height:22px;
position:absolute;
line-height:auto;
}
.rectangle52
{
height:445px;
width:300px;
border:1px solid #000000;
top:180px;
left:1030px;
position:absolute;
}
.group3
{
width:329px;
height:445px;
top:0px;
left:0px;
}
.doctorserial3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:30px;
font-family:Roboto;
left:30px;
top:200px;
width:250px;
height:35px;
position:absolute;
line-height:auto;
}
.rectangle33
{
height:102px;
width:106px;
border-radius:10px;
top:60px;
left:90px;
position:absolute;
}
.shortdescriptiontext4
{
color:#626262;
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:45px;
top:240px;
width:230px;
height:84px;
position:absolute;
line-height:auto;
}
.learnmorebtn3
{
width:185px;
height:58px;
top:0px;
left:0px;
}
.signupbg4
{
background-color:#153e90;
height:58px;
width:185px;
border-radius:10px;
border:1px solid #000000;
top:360px;
left:50px;
position:absolute;
}
.learnmore3
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Inter;
left:22px;
top:18px;
width:126.93506622314453px;
height:22px;
position:absolute;
line-height:auto;
}
.rectangle53
{
height:445px;
width:300px;
border:1px solid #000000;
top:180px;
left:350px;
position:absolute;
}
.group4
{
width:329px;
height:445px;
top:0px;
left:0px;
}
.doctorserial4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:30px;
font-family:Roboto;
left:60px;
top:200px;
width:170px;
height:35px;
position:absolute;
line-height:auto;
}
.rectangle34
{
height:102px;
width:106px;
border-radius:10px;
top:60px;
left:90px;
position:absolute;
}
.shortdescriptiontext5
{
color:#626262;
text-align:left;
vertical-align:text-middle;
font-size:18px;
font-family:Roboto;
left:45px;
top:250px;
width:240px;
height:84px;
position:absolute;
line-height:auto;
}
.learnmorebtn4
{
width:185px;
height:58px;
top:0px;
left:0px;
}
.signupbg5
{
background-color:#153e90;
height:58px;
width:185px;
border-radius:10px;
border:1px solid #000000;
top:360px;
left:50px;
position:absolute;
}
.learnmore4
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Inter;
left:22px;
top:18px;
width:126.93506622314453px;
height:22px;
position:absolute;
line-height:auto;
}
.rectangle54
{
height:445px;
width:300px;
border:1px solid #000000;
top:180px;
left:13px;
position:absolute;
}

.service2
{
width:1440px;
height:696px;
position:absolute;
top:1339px;
left:0px;
}
.servicebg
{
  background-color: #f3f7fe;

  
height:696px;
width:1348px;
border:1px solid #000000;
}
.servicedescription
{
width:757px;
height:696px;
}
.servicedescriptionbg
{
height:696px;
width:670px;
}
.servicedescriptiontext
{
  text-align: justify;
  vertical-align: text-middle;
  font-size: 45px;
  left: 50px;
  top: 100px;
  width: 641px;
  height: 292px;
  position: absolute;
}
.servicephotobg
{
  border: 1px solid black;
height:696px;
width:675px;
left:673px;
top:0px;
position:absolute;
}

.serviceshortdescriptiontext{
  color: #626262;
  text-align: left;
  vertical-align: text-middle;
  font-size: 18px;
  left: 80px;
  top: 350px;
  width: 500px;
  height: 63px;
  position: absolute;
  line-height: auto;
}
